:root {
    /* Colors */
    --primaryBg: rgba(41, 33, 168, 1);
    --mouseLight: radial-gradient(circle at var(--x) var(--y),
            rgba(41, 33, 168, 1) 9%,
            rgba(10, 10, 110, 1) 65%,
            rgba(0, 80, 96, 1) 100%);

    /* Font sizes */
    --h1: 3.6rem;
    --h2: 2.8rem;
    --h3: 2rem;
    /* --h4: 1.6rem; */
    --para: 1.6rem;
    /* Font Color */
    --h1Color: #F2C14E;
    --h2Color: #F4F1BB;
    --h3Color: peachpuff;
    --h4Color: #F1FFE7;
    --pColor: #F1FFE7;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: var(--primaryBg);
    /* background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 100%;
    height: 100vh;
    aspect-ratio: 1;
    z-index: -1;
    position: absolute;
}


.mainWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 10rem;

    border: solid black 2px;

}

.quizWrap {
    border: solid white 2px;
    
}

.cardWrap {
    border: solid blue 2px;
}
/* MUSEFFEKT */
.lightMouse {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--mouseLight);
}